[submodule "themes/bootstrap-blog"]
	path = themes/bootstrap-blog
	url = git@github.com:dervn/hexo-theme-bootstrap-blog.git
[submodule "themes/hacker"]
	path = themes/hacker
	url = git@github.com:dervn/Hacker.git
[submodule "themes/jane"]
	path = themes/jane
	url = https://github.com/hejianxian/hexo-theme-jane.git
